input.ng-touched.ng-invalid {
	border-color: #ea4335; /* Google red */
	border-width: 2px;
}

input.ng-touched.ng-valid {
	border-color: #5cb85c; /* Bootstrap success */
	border-width: 2px; 
}

.quantityInput {
	width: 50px;
}

a,
table,
#update {
	margin: 15px;
}

a {
	position: fixed;
	bottom: 25px;
}
