<!DOCTYPE html>
<html>
<head>
	<title>Angular Testing -- Controller</title>

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/controller-test.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/angular.min.js"></script> 
</head>
<body ng-app="controllerTest">

	<div class="container">
		<header class="page-header">
			<h1 id="title">Coffee Dave's Cart</h1>
		</header>

		<main class="row" class="ng-cloak" ng-controller="FormController as cart">
				<form class="col-md-6 ng-cloak" novalidate name="itemForm" ng-submit="cart.addItem(itemForm)">
					<div class="form-group">
					    <label for="item">Item Name</label>
					    <input type="text" class="form-control" id="item" name="item" ng-model="cart.newItem.item" autofocus required>
				    </div>

					
				    <div class="form-group">
					    <label for="price">Unit Price</label>
					    <input type="number" class="form-control" id="price" name="price"  ng-model="cart.newItem.price" required>
				    </div>
				    

				    <div class="form-group" ng-if="itemForm.$valid">
				    	<input type="submit" class="btn btn-success" id="submit" ng-click="reset()">
				    </div>

				</form>

			<div class="table-responsive">
				<table class="ng-cloak table">
					<thead>
						<tr>
							<th>Item</th>
							<th>Price</th>
							<th>Quantity</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in cart.items">
							<td>{{ item.item }}</td>
							<td>{{ item.price | currency }}</td>
							<td><input class="quantityInput" min="1" max="10" type="number" value="{{ item.quantity }}" ng-model="item.quantity"></td>
							<td>{{ item.price * item.quantity | currency }}</td>
							<td><button class="btn btn-xs btn-warning" ng-click="cart.removeItem(index)">x</button></td>
						</tr>
					</tbody>
				</table>
				<table class="ng-cloak table">
					<tbody>
						<tr>
							<th>Sub-total</th>
							<td>{{ cart.getSubtotal() | currency }}</td>
						</tr>
						<tr>
							<th>Sales Tax</th>
							<td>{{ cart.getTax() | currency }}</td>
						</tr>
						<tr>
							<th>Delivery Fee</th>
							<td>{{ cart.getDeliveryFee() | currency }}</td>
						</tr>
						<tr>
							<th>Grand Total</th>
							<td>{{ cart.getGrandTotal() | currency }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</main>
	</div>

	<p class="ng-cloak"><a href="/model-test.html"> << Model Test</a></p>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/controllerTest.js"></script>
</body>
</html>